CharityKitchen/Service References/CharityKitchenService/CharityKitchenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Order_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="Order_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_GetAllResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceOperation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IngredientsOrdered">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MealID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MealName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MealQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IngredientID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IngredientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IngredientQuantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ingredient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MealIngredientLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MealIngredientLineID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MealID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IngredientID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IngredientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IngredientQuantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IngredientCost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IngredientUnit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Meal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MealID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MealName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MealDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MealOrderLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderLineID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MealID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MealName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MealQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Order_GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_GetByIdResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_record" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_SaveResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_DeleteResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_GetIngredients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_GetIngredientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_GetIngredientsResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealsOrdered_ByOrderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealsOrdered_ByOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MealsOrdered_ByOrderIdResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealsOrdered_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_records" type="tns:ArrayOfMealOrderLine" />
            <s:element minOccurs="1" maxOccurs="1" name="_recordID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMealOrderLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MealOrderLine" nillable="true" type="tns:MealOrderLine" />
        </s:sequence>
      </s:complexType>
      <s:element name="MealsOrdered_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MealsOrdered_UpdateResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="Meal_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Meal_GetAllResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Meal_GetByIdResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_record" type="tns:Meal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Meal_SaveResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_mealID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Meal_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Meal_DeleteResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealIngredientLine_ByMealId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_mealID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealIngredientLine_ByMealIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MealIngredientLine_ByMealIdResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MealIngredientLine_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_records" type="tns:ArrayOfMealIngredientLine" />
            <s:element minOccurs="1" maxOccurs="1" name="_recordID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMealIngredientLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MealIngredientLine" nillable="true" type="tns:MealIngredientLine" />
        </s:sequence>
      </s:complexType>
      <s:element name="MealIngredientLine_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MealIngredientLine_UpdateResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="Ingredient_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ingredient_GetAllResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ingredient_GetByIdResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_record" type="tns:Ingredient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ingredient_SaveResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ingredientID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingredient_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ingredient_DeleteResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginResult" type="tns:ServiceOperation" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Order_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:Order_GetAll" />
  </wsdl:message>
  <wsdl:message name="Order_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:Order_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="Order_GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:Order_GetById" />
  </wsdl:message>
  <wsdl:message name="Order_GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:Order_GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="Order_SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Order_Save" />
  </wsdl:message>
  <wsdl:message name="Order_SaveSoapOut">
    <wsdl:part name="parameters" element="tns:Order_SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Order_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Order_Delete" />
  </wsdl:message>
  <wsdl:message name="Order_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:Order_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Order_GetIngredientsSoapIn">
    <wsdl:part name="parameters" element="tns:Order_GetIngredients" />
  </wsdl:message>
  <wsdl:message name="Order_GetIngredientsSoapOut">
    <wsdl:part name="parameters" element="tns:Order_GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="MealsOrdered_ByOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:MealsOrdered_ByOrderId" />
  </wsdl:message>
  <wsdl:message name="MealsOrdered_ByOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:MealsOrdered_ByOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="MealsOrdered_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:MealsOrdered_Update" />
  </wsdl:message>
  <wsdl:message name="MealsOrdered_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:MealsOrdered_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Meal_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:Meal_GetAll" />
  </wsdl:message>
  <wsdl:message name="Meal_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:Meal_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="Meal_GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:Meal_GetById" />
  </wsdl:message>
  <wsdl:message name="Meal_GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:Meal_GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="Meal_SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Meal_Save" />
  </wsdl:message>
  <wsdl:message name="Meal_SaveSoapOut">
    <wsdl:part name="parameters" element="tns:Meal_SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Meal_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Meal_Delete" />
  </wsdl:message>
  <wsdl:message name="Meal_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:Meal_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="MealIngredientLine_ByMealIdSoapIn">
    <wsdl:part name="parameters" element="tns:MealIngredientLine_ByMealId" />
  </wsdl:message>
  <wsdl:message name="MealIngredientLine_ByMealIdSoapOut">
    <wsdl:part name="parameters" element="tns:MealIngredientLine_ByMealIdResponse" />
  </wsdl:message>
  <wsdl:message name="MealIngredientLine_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:MealIngredientLine_Update" />
  </wsdl:message>
  <wsdl:message name="MealIngredientLine_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:MealIngredientLine_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Ingredient_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:Ingredient_GetAll" />
  </wsdl:message>
  <wsdl:message name="Ingredient_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:Ingredient_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="Ingredient_GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:Ingredient_GetById" />
  </wsdl:message>
  <wsdl:message name="Ingredient_GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:Ingredient_GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="Ingredient_SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Ingredient_Save" />
  </wsdl:message>
  <wsdl:message name="Ingredient_SaveSoapOut">
    <wsdl:part name="parameters" element="tns:Ingredient_SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Ingredient_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Ingredient_Delete" />
  </wsdl:message>
  <wsdl:message name="Ingredient_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:Ingredient_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="CharityKitchenServiceSoap">
    <wsdl:operation name="Order_GetAll">
      <wsdl:input message="tns:Order_GetAllSoapIn" />
      <wsdl:output message="tns:Order_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_GetById">
      <wsdl:input message="tns:Order_GetByIdSoapIn" />
      <wsdl:output message="tns:Order_GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_Save">
      <wsdl:input message="tns:Order_SaveSoapIn" />
      <wsdl:output message="tns:Order_SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_Delete">
      <wsdl:input message="tns:Order_DeleteSoapIn" />
      <wsdl:output message="tns:Order_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_GetIngredients">
      <wsdl:input message="tns:Order_GetIngredientsSoapIn" />
      <wsdl:output message="tns:Order_GetIngredientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_ByOrderId">
      <wsdl:input message="tns:MealsOrdered_ByOrderIdSoapIn" />
      <wsdl:output message="tns:MealsOrdered_ByOrderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_Update">
      <wsdl:input message="tns:MealsOrdered_UpdateSoapIn" />
      <wsdl:output message="tns:MealsOrdered_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Meal_GetAll">
      <wsdl:input message="tns:Meal_GetAllSoapIn" />
      <wsdl:output message="tns:Meal_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Meal_GetById">
      <wsdl:input message="tns:Meal_GetByIdSoapIn" />
      <wsdl:output message="tns:Meal_GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Meal_Save">
      <wsdl:input message="tns:Meal_SaveSoapIn" />
      <wsdl:output message="tns:Meal_SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Meal_Delete">
      <wsdl:input message="tns:Meal_DeleteSoapIn" />
      <wsdl:output message="tns:Meal_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_ByMealId">
      <wsdl:input message="tns:MealIngredientLine_ByMealIdSoapIn" />
      <wsdl:output message="tns:MealIngredientLine_ByMealIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_Update">
      <wsdl:input message="tns:MealIngredientLine_UpdateSoapIn" />
      <wsdl:output message="tns:MealIngredientLine_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetAll">
      <wsdl:input message="tns:Ingredient_GetAllSoapIn" />
      <wsdl:output message="tns:Ingredient_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetById">
      <wsdl:input message="tns:Ingredient_GetByIdSoapIn" />
      <wsdl:output message="tns:Ingredient_GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Save">
      <wsdl:input message="tns:Ingredient_SaveSoapIn" />
      <wsdl:output message="tns:Ingredient_SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Delete">
      <wsdl:input message="tns:Ingredient_DeleteSoapIn" />
      <wsdl:output message="tns:Ingredient_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CharityKitchenServiceSoap" type="tns:CharityKitchenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Order_GetAll">
      <soap:operation soapAction="http://tempuri.org/Order_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_GetById">
      <soap:operation soapAction="http://tempuri.org/Order_GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Save">
      <soap:operation soapAction="http://tempuri.org/Order_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Delete">
      <soap:operation soapAction="http://tempuri.org/Order_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_GetIngredients">
      <soap:operation soapAction="http://tempuri.org/Order_GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_ByOrderId">
      <soap:operation soapAction="http://tempuri.org/MealsOrdered_ByOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_Update">
      <soap:operation soapAction="http://tempuri.org/MealsOrdered_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_GetAll">
      <soap:operation soapAction="http://tempuri.org/Meal_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_GetById">
      <soap:operation soapAction="http://tempuri.org/Meal_GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_Save">
      <soap:operation soapAction="http://tempuri.org/Meal_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_Delete">
      <soap:operation soapAction="http://tempuri.org/Meal_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_ByMealId">
      <soap:operation soapAction="http://tempuri.org/MealIngredientLine_ByMealId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_Update">
      <soap:operation soapAction="http://tempuri.org/MealIngredientLine_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetAll">
      <soap:operation soapAction="http://tempuri.org/Ingredient_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetById">
      <soap:operation soapAction="http://tempuri.org/Ingredient_GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Save">
      <soap:operation soapAction="http://tempuri.org/Ingredient_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Delete">
      <soap:operation soapAction="http://tempuri.org/Ingredient_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CharityKitchenServiceSoap12" type="tns:CharityKitchenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Order_GetAll">
      <soap12:operation soapAction="http://tempuri.org/Order_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_GetById">
      <soap12:operation soapAction="http://tempuri.org/Order_GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Save">
      <soap12:operation soapAction="http://tempuri.org/Order_Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Delete">
      <soap12:operation soapAction="http://tempuri.org/Order_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_GetIngredients">
      <soap12:operation soapAction="http://tempuri.org/Order_GetIngredients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_ByOrderId">
      <soap12:operation soapAction="http://tempuri.org/MealsOrdered_ByOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealsOrdered_Update">
      <soap12:operation soapAction="http://tempuri.org/MealsOrdered_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_GetAll">
      <soap12:operation soapAction="http://tempuri.org/Meal_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_GetById">
      <soap12:operation soapAction="http://tempuri.org/Meal_GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_Save">
      <soap12:operation soapAction="http://tempuri.org/Meal_Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meal_Delete">
      <soap12:operation soapAction="http://tempuri.org/Meal_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_ByMealId">
      <soap12:operation soapAction="http://tempuri.org/MealIngredientLine_ByMealId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MealIngredientLine_Update">
      <soap12:operation soapAction="http://tempuri.org/MealIngredientLine_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetAll">
      <soap12:operation soapAction="http://tempuri.org/Ingredient_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_GetById">
      <soap12:operation soapAction="http://tempuri.org/Ingredient_GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Save">
      <soap12:operation soapAction="http://tempuri.org/Ingredient_Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingredient_Delete">
      <soap12:operation soapAction="http://tempuri.org/Ingredient_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharityKitchenService">
    <wsdl:port name="CharityKitchenServiceSoap" binding="tns:CharityKitchenServiceSoap">
      <soap:address location="http://localhost:52508/CharityKitchenService.asmx" />
    </wsdl:port>
    <wsdl:port name="CharityKitchenServiceSoap12" binding="tns:CharityKitchenServiceSoap12">
      <soap12:address location="http://localhost:52508/CharityKitchenService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>